* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--main-background);
    font: var(--font);
    max-width: var(--max-width);
}

body::-webkit-scrollbar {
    display: none;
}

h2 {
    color: var(--bold-2);
    border-bottom: 1px solid var(--bold-2);
    padding-bottom: var(--spacing-s);
    width: max-content;
}

strong {
    color: var(--bold-1);
}

ul, ol {
    list-style-position: inside;
}

.bold {
    color: var(--bold-1);
}

.link {
    text-decoration: none;
    color: var(--small-text);
}

.link:hover {
    text-decoration: underline;
}

.header {
    background-color: var(--header-background);
    color: var(--bold-1);
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    box-sizing: border-box;
    border-bottom: 1px solid var(--divider);
}

.header__title_centered {
    text-align: center;
    margin: var(--spacing-m) 0 0;
}

.nav__menu {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--header-background);
    margin: 0;
    padding: var(--spacing-xs);
    border-bottom: 1px solid var(--divider);
}

.nav__menu__selector {
    margin: var(--spacing-s) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: var(--nav-menu-font-size);
}

.about__title {
    margin: var(--spacing-xl) var(--spacing-xl) var(--spacing-m);
}

.about__content {
    display: flex;
    justify-content: space-between;
    padding: 0 0 var(--spacing-xl);
}

.about__text {
    margin-left: var(--spacing-l);
    color: var(--small-text);
}

.about__general {
    margin-bottom: var(--spacing-m);
}

.about__technologies {
    list-style: none;
}

.about__picture {
    margin-right: var(--spacing-xl);
    color: var(--small-text);
    font-family: monospace;
}

.main__banner__image {
    width: 100%;
    height: 160px;
}

.projects__title {
    margin: var(--spacing-xl) var(--spacing-xl) var(--spacing-m);
}

.projects__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
    margin: var(--spacing-xl) auto var(--spacing-l);
    padding-bottom: var(--spacing-l);
}

.project__selector__button {
    font-size: 32px;
    color: var(--small-text);
    background-color: var(--header-background);
    width: var(--button);
    height: var(--button);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.project__selector__button:hover {
    filter: brightness(85%);
}

.project__selector__button:active {
    filter: brightness(70%);
}

.projects__selector__prev {
    padding: 0 2px 4px 0;
}

.projects__selector__next {
    padding: 0 0 4px 2px;
}

.projects__selector__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 400px;
    padding: 0 200px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    max-width: 950px;
    width: 50vw;
}

.project__selector__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    border: 2px solid black;
    padding: var(--spacing-m);
    text-align: center;
    border-radius: var(--spacing-l);
    background-color: var(--bold-1);
    color: var(--main-background);
    scroll-snap-align: center;
    flex-shrink: 0;
    text-decoration: none;
}

.project__selector__item:hover {
    filter: brightness(95%);
    z-index: 0;
}

.project__item__element {
    padding: var(--spacing-m);
    font-weight: bold;
}

.project__item__title {
    padding: var(--spacing-m) var(--spacing-xl);
    color: black;
}

.project__item__divider {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.projects__selector__list::-webkit-scrollbar {
    display: none;
}

.projects__suggestion {
    display: flex;
    justify-content: center;
    margin: 0 auto var(--spacing-xl);
    padding: 0 0 var(--spacing-xl);
}

.projects__suggestion__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.projects__suggestion__title {
    color: var(--bold-2);
    margin: auto;
    border-bottom: 1px solid var(--bold-2);
    padding-bottom: var(--spacing-s);
    width: max-content;
}

.projects__suggestion__email {
    margin: var(--spacing-l) var(--spacing-s) var(--spacing-m);
    color: var(--bold-2);
}

.email__input {
    margin: var(--spacing-s) 0 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bold-1);
    outline: none;
    color: var(--small-text);
    width: var(--email);
}

.projects__suggestion__comment {
    margin: var(--spacing-s);
    color: var(--bold-2);
}

.comment__input {
    margin: var(--spacing-s) 0 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bold-1);
    padding-bottom: var(--spacing-m);
    outline: none;
    color: var(--small-text);
    resize: none;

    width: 100%;
}

.projects__suggestion__submit {
    background-color: var(--bold-2);
    border: none;
    border-radius: 8px;
    padding: var(--spacing-s);
    width: max-content;
    margin: auto;
    cursor: pointer;
}

.projects__suggestion__submit:hover {
    filter: brightness(90%);
}

.projects__suggestion__submit:active {
    filter: brightness(75%);
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    box-sizing: border-box;
    padding-right: var(--spacing-xl);
    border-top: 1px solid var(--divider);
}

.footer__title {
    margin: var(--spacing-m) var(--spacing-xl) var(--spacing-m);
}

.footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: var(--spacing-l);
}

.footer__logo {
    align-content: center;
}

.footer__logo__image {
    justify-content: right;
    width: 128px;
    height: 128px;
}

.rights {
    color: var(--small-text);
    margin: var(--spacing-l) var(--spacing-xl) var(--spacing-s);
    font-size: var(--rigths-font-size);
    font-weight: lighter;
}

.rights__sup {
    position: relative;
    top: -0.2em;
    left: 0;
}

.rights__sub {
    position: relative;
    top: 0.1em;
    left: -1.3em;
}

.rights__crossed {
    text-decoration: line-through;
}

.project__page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.project__main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.project__main__nav {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--spacing-xl);
    border-right: 1px solid var(--divider);
    background-color: var(--header-background);
    align-items: center;
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-l);
}

.project__main__nav__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--spacing-s);
}

.project__nav__main {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.project__nav__link {
    text-decoration: none;
    color: var(--small-text);
}

.project__nav__share {
    margin: auto 0 0;
}

.project__nav__link:hover {
    text-decoration: underline;
    color: var(--bold-1);
}

.project__nav__link_active {
    color: var(--bold-2);
}

.project__main__content {
    padding: var(--spacing-l) var(--spacing-xl) var(--spacing-l) var(--spacing-l);
}

.project__main__description {
    color: var(--small-text);
    margin-bottom: var(--spacing-m);
}

.project__main__share__info {
    color: var(--bold-2);
    display: flex;
    flex-direction: column;
}

.project__email__input {
    margin: 0 0 var(--spacing-s) var(--spacing-s);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bold-1);
    outline: none;
    color: var(--small-text);
    width: var(--email);
}

.project__share__amount {
    margin: 0 0 var(--spacing-s) var(--spacing-s);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bold-1);
    outline: none;
    color: var(--small-text);
    max-width: var(--spacing-m);
}

.project__share__info__submit {
    background-color: var(--bold-2);
    border: none;
    border-radius: 8px;
    padding: var(--spacing-xs) var(--spacing-s);
    width: max-content;
    margin: auto;
    cursor: pointer;
}

.project__main__share_list {
    padding: var(--spacing-l) 0 var(--spacing-m);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-l);
}

.project__main__share__item {
    display: flex;
    gap: var(--spacing-l);
}

.project__share__item__language {
    color: var(--bold-2);
    display: flex;
    align-items: center;
    padding: 0 0 0 var(--spacing-m);
}

.share__item__language {
    margin: 0 0 0 var(--spacing-s);
}

.project__share__item__comment {
    color: var(--bold-2);
    flex-grow: 1;
}

.project__share__submit {
    background-color: var(--bold-2);
    border: none;
    border-radius: 8px;
    padding: var(--spacing-s);
    width: max-content;
    margin: auto;
    cursor: pointer;
}

.project__share__submit:hover {
    filter: brightness(90%);
}

.project__share__submit:active {
    filter: brightness(75%);
}
