* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--main-background);
    font: var(--font);
    max-width: var(--max-width);
}

a {
    text-decoration: none;
    color: var(--small-text);
}

h2 {
    color: var(--bold-2);
    border-bottom: 1px solid var(--bold-2);
    padding-bottom: var(--spacing-s);
    width: max-content;
}

strong {
    color: var(--bold-1);
}

ul, ol {
    list-style-position: inside;
}

.bold {
    color: var(--bold-1);
}

.header {
    background-color: var(--header-background);
    color: var(--bold-1);
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    box-sizing: border-box;
}

.header__title_centered {
    text-align: center;
    margin: var(--spacing-m) 0 0;
}

.nav__menu {
    position: sticky;
    top: 0;
    background-color: var(--header-background);
    margin: 0;
    padding: var(--spacing-xs);
    border-bottom: 1px solid var(--divider);
}

.nav__menu__selector {
    margin: var(--spacing-s) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: var(--nav-menu-font-size);
}

.about__title {
    margin: var(--spacing-xl) var(--spacing-xl) var(--spacing-m);
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__text {
    margin-left: var(--spacing-l);
    color: var(--small-text);
}

.about__general {
    margin-bottom: var(--spacing-m);
}

.about__technologies {
    list-style: none;
}

.about__picture {
    margin-right: var(--spacing-xl);
    color: var(--small-text);
}

.main__banner__image {
    width: 100%;
    height: 160px;
}

.projects__title {
    margin: var(--spacing-xl) var(--spacing-xl) var(--spacing-m);
}

.projects__selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: var(--spacing-xl) 0 var(--spacing-xl);
    padding-bottom: var(--spacing-l);
}

.projects__element {
    border: 2px solid black;
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: var(--spacing-m);
    text-align: center;
    width: 25%;
    padding: var(--spacing-s);
    background-color: var(--bold-1);
    color: var(--header-background);
}

.table {
    display: grid;
    padding: var(--spacing-m) var(--spacing-l);
}

.table__title {
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    color: var(--bold-2);
    padding: var(--spacing-m) 0;
    background-color: var(--header-background);
}

.table__header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--spacing-m) 0;
    color: white;
    background-color: var(--header-background);
}

.table__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--spacing-m) 0;
    color: antiquewhite;
}

.table .table__row:nth-child(odd) {
    background-color: dimgray;
}

.table .table__row:nth-child(even) {
    background-color: darkslategray;
}

.table__header__cell {
    text-align: center;
    border: 1px solid black;
    padding: var(--spacing-m) 0;
}

.table__row__cell {
    text-align: center;
    border: 1px solid black;
    padding: var(--spacing-m) 0;
}

.projects__suggestion {
    display: flex;
    justify-content: center;
    margin: var(--spacing-xl) auto var(--spacing-xl);
}

.projects__suggestion__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.projects__suggestion__title {
    color: var(--bold-2);
    margin: auto;
    border-bottom: 1px solid var(--bold-2);
    padding-bottom: var(--spacing-s);
    width: max-content;
}

.projects__suggestion__email {
    margin: var(--spacing-l) var(--spacing-s) var(--spacing-m);
    color: var(--bold-2);
}

.email__input {
    margin: var(--spacing-s) 0 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bold-1);
    outline: none;
    color: var(--small-text);
}

.projects__suggestion__comment {
    margin: var(--spacing-s);
    color: var(--bold-2);
}

.comment__input {
    margin: var(--spacing-s) 0 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bold-1);
    padding-bottom: var(--spacing-m);
    outline: none;
    color: var(--small-text);
    resize: none;

    width: 100%;
}

.projects__suggestion__submit {
    background-color: var(--bold-2);
    border: none;
    border-radius: 8px;
    padding: var(--spacing-s);
    width: max-content;
    margin: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    box-sizing: border-box;
    padding-right: var(--spacing-xl);
    border-top: 1px solid var(--divider);
}

.footer__title {
    margin: var(--spacing-m) var(--spacing-xl) var(--spacing-m);
}

.footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: var(--spacing-l);
}

.footer__logo {
    align-content: center;
}

.footer__logo__image {
    justify-content: right;
    width: 128px;
    height: 128px;
}

.rights {
    color: var(--small-text);
    margin: var(--spacing-l) var(--spacing-xl) var(--spacing-s);
    font-size: var(--rigths-font-size);
    font-weight: lighter;
}

.rights__sup {
    position: relative;
    top: -0.2em;
    left: 0;
}

.rights__sub {
    position: relative;
    top: 0.1em;
    left: -1.3em;
}

.rights__crossed {
    text-decoration: line-through;
}
